body {
  font-size: 1.1rem;
  background-color: #f8f6f4;
}

main {
    margin-top: 4.6rem;
}

.gradient1 {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#174175+33,23af9d+67,deff3a+90 */
background: #174175; /* Old browsers */
background: -moz-linear-gradient(-45deg, #174175 33%, #23af9d 67%, #deff3a 90%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #174175 33%,#23af9d 67%,#deff3a 90%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #174175 33%,#23af9d 67%,#deff3a 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#174175', endColorstr='#deff3a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.gradient1 h2, .gradient1 b, .gradient1 p {
    color:rgba(255,255,255, 0.8);
}

@media (max-width: 767.98px) {
    main {
        margin-top: 8.5rem;
    }
    .organisationcard, .list, .meldingenlist {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.list-group-item, .card-header {
    border-bottom: 1px solid rgba(0,0,0,0.07);
}

.lightgrey {
    color : rgba(0,0,0,0.3);
}


/*
 * Navbar
 */

.navbar-brand {
  padding-top: .4rem;
  padding-bottom: .4rem;
  font-size: 1rem;
}
.navbar-brand img {
    height: 60px;
}
.navbar .form-control {
  padding: 1.5rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
}
.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.form-control-light {
  color: #fff;
  background-color: rgba(0, 0, 0, .06);
}
.form-control-light:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, .25);
}

@media (max-width: 767.98px) {
    .navbar .form-control {
      padding: 1.2rem 1rem;  
    }
}

/*
 * Melding list
 */
.card-header {
    min-height: 6rem!important;
}
.bg-meldingen-header{
    background: url(../img/header_meldingen.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}
.aangemaakt {
   border-left: 3px solid #cb6003!important;
}
.aangemaakt .status {
   color:#cb6003;
}
.inbehandeling {
    border-left: 3px solid #49a8fa!important;
}
.inbehandeling .status {
   color:#49a8fa;
}
.afgerond {
    border-left: 3px solid #00ad5f!important;
}
.afgerond .status {
   color:#00ad5f;
}
.operator {
    height: 50px;
    width: 50px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}


/*
 * Icon
 */

.x2 {
    font-size: 1.5rem;
}


.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }